### Python

.DS_Store
.ropeproject

*.pyc
__pycache__



### Data
*.scel
data/dict/
data/generated/
data/predicted/
data/raw.question.txt
data/raw.doctor.txt
data/cleaned.question.txt
data/*.dict
data/*.pkl

# data/*.dist


### log
log/

### models
models/*.pth
